---
layout: default
---
<section id="intro">
    <div class="grid">
        <div class="grid-cell">
            <img id="logo-pangea" src="{{ "/img/bitnation-logo-enter-pangea.svg" | relative_url }}" alt="Bitnation Logo: Enter Pangea">
            <h1>{{ site.data["index"][1] }}</h1>
        </div>
    </div>
    <div class="grid btn-3">
        <div class="grid-cell">
            <div class="cta">
                <a href="#install">{{ site.data["index"][2] }}</a>
            </div>
        </div>
        <div class="grid-cell">
            <div class="cta">
                <a href="#pat">{{ site.data["index"][3] }}</a>
            </div>
        </div>
        <div class="grid-cell">
            <div class="cta">
                <a href="#social">{{ site.data["index"][4] }}</a>
            </div>
        </div>
    </div>
</section>

<section id="pangea">
        <div class="grid">
            <div class="grid-cell">
                <h2>{{ site.data["index"][5] }}</h2>
            </div>
        </div>
        <div class="grid">
            <div class="grid-cell one-third">
                <h4>{{ site.data["index"][6] }}</h4>
                <p>{{ site.data["index"][7] }}</p>
            </div>
            <div class="grid-cell one-third">
                <h4>{{ site.data["index"][8] }}</h4>
                <p>{{ site.data["index"][9] }}</p>
            </div>
            <div class="grid-cell one-third">
                <h4>{{ site.data["index"][10] }}</h4>
                <p>{{ site.data["index"][11] }}</p>
            </div>
        </div>
        <div class="grid">
            <div class="grid-cell">
                <div class="cta space">
                    <a href="https://github.com/Bit-Nation/Pangea-Arbitration-Token-PAT/blob/master/BITNATION%20Pangea%20Whitepaper%202017.pdf">{{ site.data["index"][12] }}</a>
                </div>
            </div>
        </div>
        <div class="grid stats">
            <div class="grid-cell">
                <div class="icon-l"><i class="fal fa-user"></i></div>
                <div class="number">{{ site.data["index"][13] }}</div>
                <div class="descriptor">{{ site.data["index"][14] }}</div>
            </div>
            <div class="grid-cell">
                <div class="icon-l"><i class="fal fa-users"></i></div>
                <div class="number">{{ site.data["index"][15] }}</div>
                <div class="descriptor">{{ site.data["index"][16] }}</div>
            </div>
            <div class="grid-cell">
                <div class="icon-l"><i class="fal fa-code"></i></div>
                <div class="number">{{ site.data["index"][17] }}</div>
                <div class="descriptor">{{ site.data["index"][18] }}</div>
            </div>
            <div class="grid-cell">
                <div class="icon-l"><i class="fal fa-globe"></i></div>
                <div class="number">{{ site.data["index"][19] }}</div>
                <div class="descriptor">{{ site.data["index"][20] }}</div>
            </div>
            <div class="grid-cell">
                <div class="icon-l"><i class="fal fa-copy"></i></div>
                <div class="number">{{ site.data["index"][21] }}</div>
                <div>{{ site.data["index"][22] }}</div>
            </div>
        </div>
    </div>
</section>

<section id="install">
    <div class="grid">
        <div class="grid-cell">
            <h2>{{ site.data["index"][23] }}</h2>
            <img src="" alt="">
            <div class="cta space">
                <a href="https://github.com/Bit-Nation/BITNATION-Pangea-mobile">{{ site.data["index"][24] }}</a>
            </div>
        </div>
    </div>
</section>

<section id="video">
    <div class="grid">
        <div class="grid-cell">
            <h2>Bitnation:<br>{{ site.data["index"][25] }}</h2>
        </div>
    </div>
    <div class="grid">
        <div class="grid-cell whole">
            <div class="vid-container">
                <iframe src="https://www.youtube.com/embed/{{ site.data["index"][26] }}" allowfullscreen="" kwframeid="1" frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-cell">
            <p>{{ site.data["index"][27] }}</p>
        </div>
    </div>
</section>

<section id="pat">
    <div class="grid">
        <div class="grid-cell">
            <h2>{{ site.data["index"][28] }}</h2>
        </div>
    </div>
    <div class="grid">
        <div class="grid-cell one-quarter">
            <img class="logo" src="{{ "/img/bitnation-logo-round.svg" | relative_url }}" alt="Bitnation Logo">
        </div>
        <div class="grid-cell three-quarters">
            <p>{{ site.data["index"][29] }}</p>
        </div>
    </div>
    <div class="grid btn-3">
        <div class="grid-cell whole-mobile">
            <div class="cta-hl">
                <button onclick="show_pat_popup()">{{ site.data["index"][30] }}</button>
            </div>
        </div>
        <div class="grid-cell">
            <div class="cta">
                <a href="https://github.com/Bit-Nation/Pangea-Arbitration-Token-PAT/blob/master/BITNATION%20Pangea%20Whitepaper%202017.pdf">{{ site.data["index"][31] }}</a>
            </div>
        </div>
        <div class="grid-cell">
            <div class="cta">
                <a href="{{ "/documents/" | relative_url }}">{{ site.data["index"][32] }}</a>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="grid-cell">
            <p class="bigger">{{ site.data["index"][33] }}<br><a href="{{ "/purchase-agreement/" | relative_url }}">{{ site.data["index"][34] }}</a></p>
        </div>
    </div>
    <div class="grid pat-chars">
        <div class="grid-cell one-third">
            <div class="icon-l"><i class="fal fa-shield-alt"></i></div>
            <h4>{{ site.data["index"][35] }}</h4>
            <p>{{ site.data["index"][36] }}</p>
        </div>
        <div class="grid-cell one-third">
            <div class="icon-l"><i class="fal fa-chart-bar"></i></div>
            <h4>{{ site.data["index"][37] }}</h4>
            <p>{{ site.data["index"][38] }}</p>
        </div>
        <div class="grid-cell one-third">
            <div class="icon-l"><i class="fal fa-object-ungroup"></i></div>
            <h4>{{ site.data["index"][39] }}</h4>
            <p>{{ site.data["index"][40] }}</p>
        </div>
    </div>
</section>

<section id="history">
    <div class="grid">
        <div class="grid-cell">
            <h2>{{ site.data["index"][41] }}</h2>
        </div>
    </div>
    <div class="grid">
        <div class="grid-cell timeline">
            {% for event in site.data.events %}
            <div class="event">
                <div class="title">
                    <h5>{{ event.date }}: {{ event.title }}</h>
                </div>
                <div class="description">
                    <p>{{ event.description }}</p>
                </div>
            </div>{% endfor %}
        </div>
    </div>
</section>

<section id="team">
    <div class="grid">
        <div class="grid-cell">
            <h2>{{ site.data["index"][63] }}</h2>
        </div>
    </div>
    <div id="core" class="grid members">
        {% for member in site.data.team.core %}{% assign img-url = member.name | slugify: 'ascii' | prepend: "/img/team/" | append: ".jpg" %}<div class="grid-cell grid member">
            <div class="grid-cell photo">
                <img src="{{ img-url | relative_url }}" alt="{{ member.name }}">
            </div>
            <div class="grid-cell name">{{ member.name }}</div>
            <div class="grid-cell role">{{ member.role }}</div>
            {% if member.social %}<div class="grid-cell grid links">
                {% if member.social.linkedin %}<div class="grid-cell">
                    <a href="https://www.linkedin.com/in/{{ member.social.linkedin }}/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>{% endif %}
                {% if member.social.twitter %}<div class="grid-cell">
                    <a href="https://twitter.com/{{ member.social.twitter }}">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>{% endif %}{% if member.social.github %}
                <div class="grid-cell">
                    <a href="https://github.com/{{ member.social.github }}">
                        <i class="fab fa-github"></i>
                    </a>
                </div>{% endif %}
            </div>{% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="grid">
        <div class="grid-cell">
            <h2>{{ site.data["index"][64] }}</h2>
        </div>
    </div>
    <div id="advisors" class="grid members">
        {% for member in site.data.team.advisors %}{% assign img-url = member.name | slugify: 'ascii' | prepend: "/img/team/" | append: ".jpg" %}<div class="grid-cell grid member">
            <div class="grid-cell photo">
                <img src="{{ img-url | relative_url }}" alt="{{ member.name }}">
            </div>
            <div class="grid-cell name">{{ member.name }}</div>
            {% if member.social %}<div class="grid-cell grid links">
                {% if member.social.linkedin %}<div class="grid-cell">
                    <a href="https://www.linkedin.com/in/{{ member.social.linkedin }}/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>{% endif %}
                {% if member.social.twitter %}<div class="grid-cell">
                    <a href="https://twitter.com/{{ member.social.twitter }}">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>{% endif %}
            </div>{% endif %}
        </div>
        {% endfor %}
    </div>
</section>

<section id="partners">
    <div class="grid">
        <div class="grid-cell">
            <h2>{{ site.data["index"][65] }}</h2>
        </div>
    </div>
    <div class="grid partner-logos">
        <div class="grid-cell">
            <a class="logo-partner" href="https://www.abdk.consulting/" target="_blank">
                <img id="abdk" src="{{ "/img/logo-abdk.png" | relative_url }}" alt="ABDK Consulting">
            </a>
        </div>
        <div class="grid-cell">
            <a class="logo-partner" href="https://www.bitcoinsuisse.ch/" target="_blank">
                <img id="bitcoin-suisse" src="{{ "/img/logo-bitcoin-suisse.png" | relative_url }}" alt="Bitcoin Suisse">
            </a>
        </div>
        <div class="grid-cell">
            <a class="logo-partner" href="http://netsoc.vc/" target="_blank">
                <img id="network-society-ventures" src="{{ "/img/logo-network-society-ventures.png" | relative_url }}" alt="Network Society Ventures">
            </a>
        </div>
        <div class="grid-cell">
            <a class="logo-partner" href="https://e-resident.gov.ee/" target="_blank">
                <img id="e-residency" src="{{ "/img/logo-e-residency.svg" | relative_url }}" alt="Republic of Estonia e-Residency">
            </a>
        </div>
    </div>
</section>

<section id="social">
    <div class="grid">
        <div class="grid-cell">
            <h2>{{ site.data["index"][66] }}</h2>
        </div>
    </div>
    <div class="grid social-icons">
        <div class="grid-cell">
            <a href="https://github.com/Bit-Nation">
                <span class="icon-xl fa-layers fa-fw">
                    <i class="fab fa-github" data-fa-transform="shrink-6"></i>
                    <i class="fal fa-circle"></i>
                </span>
            </a>
        </div>
        <div class="grid-cell">
            <a href="https://twitter.com/@MyBitnation">
                <span class="icon-xl fa-layers fa-fw">
                    <i class="fab fa-twitter" data-fa-transform="shrink-6"></i>
                    <i class="fal fa-circle"></i>
                </span>
            </a>
        </div>
        <div class="grid-cell">
            <a href="https://angel.co/bitnation">
                <span class="icon-xl fa-layers fa-fw">
                    <i class="fab fa-angellist" data-fa-transform="shrink-6"></i>
                    <i class="fal fa-circle"></i>
                </span>
            </a>
        </div>
        <div class="grid-cell">
            <a href="https://t.me/PangeaBitnation">
                <span class="icon-xl fa-layers fa-fw">
                    <i class="fab fa-telegram-plane" data-fa-transform="shrink-6"></i>
                    <i class="fal fa-circle"></i>
                </span>
            </a>
        </div>
        <div class="grid-cell">
            <a href="https://www.facebook.com/MyBitnation">
                <span class="icon-xl fa-layers fa-fw">
                    <i class="fab fa-facebook-f" data-fa-transform="shrink-6"></i>
                    <i class="fal fa-circle"></i>
                </span>
            </a>
        </div>
        <div class="grid-cell">
            <a href="https://steemit.com/@bitnation">
                <span class="icon-xl fa-layers fa-fw">
                    <i class="fab fa-steemit" data-fa-transform="shrink-6"></i>
                    <i class="fal fa-circle"></i>
                </span>
            </a>
        </div>
    </div>

    <div id="mc_embed_signup">
        <form action="//bitnation.us11.list-manage.com/subscribe/post?u=913c7a1aa0e6577fc5a84cc41&amp;id=37a5583992" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="grid email-form">
                <div class="grid-cell two-thirds mc-field-group">
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Please enter your email address here">
                </div>
                <div id="mce-responses" class="clear ">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_913c7a1aa0e6577fc5a84cc41_37a5583992" tabindex="-1" value=""></div>
                <div class="grid-cell one-third clear cta-hl" class="grid-cell"><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="join"></div>
            </div>
        </form>
    </div>

</section>

<div id="buy-token" style="display: none;">
    <h2 class="custom-blue">Get Pangea Arbitration Token (PAT)</h2>
    <div id="mc_embed_signup">
        <form action="//bitnation.us11.list-manage.com/subscribe/post?u=913c7a1aa0e6577fc5a84cc41&amp;id=37a5583992" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                    <label for="mce-EMAIL" class="text-center">Sign up to receive more information about the Token Sale Event (TSE)</label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Please enter your email address here">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_913c7a1aa0e6577fc5a84cc41_37a5583992" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class=""></div>
            </div>
        </form>
    </div>
</div>