<div class="grid">
    <div class="grid-cell">
        <a class="footer-logo" href="{% if site.active_lang == site.default_lang %} {{ site.url | absolute_url }}{% if site.baseurl %}/{{ site.baseurl }}{% endif %}/ {% else %}{{ site.url }}{% if site.baseurl %}/{{ site.baseurl }}{% endif %}/{{ site.active_lang }}/{% endif %}">
            <img src="{{ "/img/bitnation-logo-h.png" | relative_url }}">
        </a>
    </div>
    <div class="grid-cell footer-text">
        <nav class="footer-menu">
            <a href="mailto:info@bitnation.co" alt="info@bitnation.co">info@bitnation.co</a>
            {% for item in site.data.navigation.footer %}
            <a href="{% if site.active_lang == site.default_lang %}{{ item.url | relative_url }}{% else %}/{% if site.baseurl %}{{ site.baseurl }}/{% endif %}{{ site.active_lang }}{{ item.url }}{% endif %}" alt="{{ item.title }}">{{ item.title }}</a>
            {% endfor %}
        </nav>
        <div class="footer-legal">
            Copyright &copy; {{ site.time | date: '%Y' }} Bitnation. All rights reserved.
        </div>
    </div>
</div>