<div class="grid">
    <div class="grid-cell">
        <a class="top-logo" href="{{ site.url }}/{{ site.baseurl }}"><img src="{{ "/img/bitnation-logo-h.png" | relative_url }}"></a>
    </div>
    <div class="grid-cell">
        <button class="top-nav-icon" onclick="show_menu()"><i id="openmenu" class="fal fa-bars"></i><i id="closemenu" class="hidden fal fa-times"></i></button>
    </div>
</div>
    <nav id="topnav" class="main-menu">
        {% for item in site.data.navigation.main %}
        <a class="menu-item" href="{{ site.baseurl }}/{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        {% endfor %}
        <span class="dropdown">
            <button class="menu-item">{{ site.language_names[site.active_lang] }}</button>
            <div class="dropdown-content">
                {% for language in site.languages %}{% if language != site.active_lang %}
                <a class="submenu-item" href="{% if language == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %}{{site.baseurl}}/{{ language }}{{page.url}}{% endif %}">{{ site.language_names[language]   }}</a>
                {% endif %}{% endfor %}
            </div>
        </span>
    </nav>